<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello {{username}}</h1>
<a href="/message">message page</a>
<a href="/login">login page</a>
<a href="/register">register page</a>
<a href="/todo">todo</a>
<img src="/static?file=doge.gif">
</body>
</html>