<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/message" method="post">
        <textarea name="message" rows="8" cols="40"></textarea>
        <button type="submit">POST 提交</button>
    </form>
    {% for m in messages %}
        <p>message: {{ m.message }}</p>
    {% endfor %}
</body>
</html>