<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
    <h1>注册</h1>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username">
        <br>
        <input type="text" name="password" placeholder="password">
        <br>
        <input type="text" name="note" placeholder="note">
        <br>
        <button type="submit">注册</button>
    </form>
    <p>{{result}}</p>
    {% for u in users %}
        <div>
            <span>{{ u.id }}</span>
            <span>{{ u.username }}</span>
            <span>{{ u.password }}</span>
            <span>{{ u.note }}</span>
        </div>
    {% endfor %}
</body>
</html>