<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo edit</title>
</head>
<body>
<form action="/todo/update" method="post">
    <input type="hidden" name="id" value="{{todo.id}}">
    <input type="text" name="title" value="{{todo.title}}" placeholder="请输入todo">
    <br>
    <button type="submit">完成</button>
</form>
</body>
</html>