<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo 程序</title>
</head>
<body>
    <h1>TODO</h1>
    <form action="/todo/add" method="post">
        <input type="text" name="title" placeholder="请输入todo">
        <br>
        <button type="submit">添加</button>
    </form>
    <ul>
    {% for t in todos %}
        <li>
            {{ t.id }} {{ t.title }}
            <a href="/todo/edit?id={{ t.id }}">编辑</a>
            <a href="/todo/delete?id={{ t.id }}">删除</a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>